[2021-08-04 19:00] vimes1984 opened #4 "New case studies"
Lorem ipsum

[2021-08-07 15:45] abhansnuk opened #49 "Polyglots annual survey and article"

[2021-08-24 08:06] abhansnuk opened #5 "Handbook updates"

[2021-08-24 08:45] abhansnuk opened #6 "Weekly marketing team agendas and week planning cards"
Agendas are published on the Marketing Team blog (known as the P2) on Make.wordpress.org before the weekly global meeting in Wednesdays. These ideally need to be published by Tuesday to help those using assistive technology or in different timezones.

Once published on the blog, team reps will add the post to the ‘highlight’ category so that it appears on the homepage box of the blog.

To help the

[2021-08-24 10:24] meherbala commented on #6
One point which needs to be added to the agenda is Coffee break time change poll.

[2021-08-24 19:04] murillol opened #7 "WPDiversity event promo 27 August 2021"
[Location of working document](https://docs.google.com/document/d/11yAywSvulW9eGKrq1_v6biLdsvea_yr87nRo7yRHqOM/edit)

[2021-08-24 19:05] abhansnuk commented on #7
Information from Jill Binder:
Our second workshop of August 2021, our diverse speakers workshop, is ready for creating social media posts when you see fit.
You can promote either:
https://make.wordpress.org/community/2021/08/12/upcoming-workshop-how-to-own-your-expertise-start-speaking-at-wordpress-events/
https://www.eventbrite.com/e/how-to-own-your-expertise-start-speaking-at-wordpress-events-am

[2021-09-06 20:56] murillol opened #8 "A short history of WordPress"
**Objective**: We need a short history of WordPress text to replace the current page on https://wordpress.org/about/history/. I'm Open to suggestions about making it nice but I'd like to have a first pass of it ready soon.

**Done** = https://wordpress.org/about/history/ has been updated.

- [ ] Create Google doc
- [ ] Research some articles to use as source
- [ ] Edit
- [ ] Proofread

[2021-09-06 20:59] murillol commented on #8
Trello Card: https://trello.com/c/gA79CUOg

[2021-09-06 21:23] murillol opened #9 "Update "WordPress Features" page"
[WordPress Features](https://wordpress.org/support/article/wordpress-features/)

[Working Document](https://docs.google.com/document/d/1ymJdP4KJqIMkF2flR-PBBEbvRGZw7mc9JaudBi_ASS8/edit)

**Proposal**: to present new wording to the Support team, for the WordPress Features Page.

**Objective**:  WordPress Features page needs to be updated to contain current facts and features and highlight points wh

[2021-09-06 21:33] murillol opened #10 "Release Focus Leads Description Page"
**Task**: Write a page with the description of Release Focus Leads. Francesca  collected some feedback after 5.3 and would like to turn this into a page in the Core Handbook.

**Notes**:
- It needs to follow the Core Post guidelines https://make.wordpress.org/core/handbook/best-practices/post-comment-guidelines/ and could use some editing to take into account the [existing documentation](https://m

[2021-09-06 22:00] murillol opened #11 "Create a resource file of WordCamps with logos, branding, graphics to inspire future WordCamps"
**Objective**: Create a file that can be distributed to and used by future WordCamp Organization teams to be inspired for logos, branding, graphics

**Done**: A file with a selection of assets from previous WordCamps that can be used as a reference+ a blog post published on make.wordpress.org/marketing blog explaining the file.

**Resources**:

- [WordCamp Logos](https://docs.google.com/document/d

[2021-09-06 22:03] murillol commented on #11
**Checklist**

- [ ] Do a pre-selection on the best inspirational examples
- [ ] Create a list of links to 30-50 WordCamp sites from across the globe with logos (check examples meet the WordPress trademark and brand guidelines), branding, style
- [ ] Download the available logos
- [ ] Gather the info on additional branding elements (fonts, colors, additional graphics, wappus, etc.)
- [ ] Organize

[2021-09-07 15:19] TantienHime commented on #11
Would highly recommend the "Hamuu" from WordCamp Hamilton 2019.  ;)

[2021-09-08 15:24] #7 closed

[2021-09-08 15:26] murillol opened #12 "FSE Program Exploration: Help with the future of Block Theme Switching"
*Task*: Promotion on Social
*Deadline*:  29 September 2021

Link: https://make.wordpress.org/test/2021/09/08/fse-program-exploration-help-with-the-future-of-block-theme-switching/

[2021-09-08 15:31] murillol opened #13 "#WPDiversity Allyship & Workshops Report"
*Task*: Promote Report
Link: https://make.wordpress.org/community/2021/09/02/report-diverse-speaker-workshops-august-2021/
*Deadline*: ASAP
- [Published LinkedIn Post](https://www.linkedin.com/posts/make-wordpress-marketing-team_report-allyship-and-diverse-speaker-workshops-activity-6841031288376332288-gLgM)
- [Published Twitter Post](https://twitter.com/wordpressevents/status/1435528735919382528)

[2021-09-08 15:35] murillol opened #14 "Trac ticket commenting & bug raising training for non-tech members"
*Done* = delivery of sessions to help non-dev members of the team be able to comment on trac tickets (for WordPress)/ GitHub (for Gutenberg/ editor) tickets and to be able to raise bug reports particularly in the Block editor.

*Deadline*: TBD

[2021-09-08 15:48] murillol opened #15 "Virtual Coffee Breaks"
- A schedule of times will be added here once finalized. - Please add to this if you can help or would like a particular time zone to be included if possible.

Who is doing what:
- Co-ordinating the scheduling of the coffee breaks
- Rota of Team Reps 'Hosting' the Coffee Break
- Accessibility
- Leads for technical options / advice

[2021-09-08 15:50] murillol commented on #15
**Notes on Calendar Link/Invite**:
- Attendees should be able to save the calendar invite or join the zoom meeting without displaying their email address
- Zoom trolls: Avoid sharing the event on social
- Meeting link is only provided on the Marketing Slack channel a few minutes before the meeting

[2021-09-08 16:26] murillol opened #16 "Define Toolkit for Five for the Future"
1: Objective: In order to grow market share of companies involved in FFTF, individual contributors must feel empowered to make the request within their organizations. A toolkit will help educate them and reduce friction within C-suite to get approval. This. Is. That. Toolkit.

2: Done = Built a list of tools and resources that we will publish on the wordpress.org/marketing blog.

Original Task-Lea

[2021-09-08 16:30] murillol opened #17 "How to gain more exposure for WordPress using news and social media channels"
Here is the initial draft: https://docs.google.com/document/d/15Y3EF-B-RU0YwB-_3iO1XVPMVtOkRqbD4GwK7Xrddv0/edit#

Done would be:

Background:

Feedback:

Potential uses/ ways to contribute to this:

Purpose:

To do:

[2021-09-08 16:32] murillol opened #18 "Five for the Future Email Template for Contributors"
_Transferred from Trello_
1: Objective: Create an email template that MakeWordPress contributors can quickly leverage to lobby their companies to participate in 5 for the Future.

Working Document: https://docs.google.com/document/d/1YIY_7EMjfRB025_Iz4F-2-1ckQ6Okp54xIl6uhEiL08/edit

2: Done =  Template is published on make.wordpress.org/marketing blog.

3: Original Task-Lead: Mike Reid

[2021-09-08 16:34] murillol commented on #18
_Timeline_
20 February 2019
Mike Reid:
We've had the card on the 5 for the future messaging for a while, but I think it's fair the focus has shifted pretty dramatically away from recruiting since we had the initial conversations last year. It would be worth a conversation in the near future on our overall priority level for it.

That being said, I am still working on this. Part of what I see us ne

[2021-09-08 16:36] murillol opened #19 "Translate Hosting Pages"
Task: translate https://wordpress.org/hosting/ for local sites, like de.wordpress.org and nl.wordpress.org. This means more than translating words: it needs to show hosting companies that actually offer support in that particular language.

[2021-09-08 16:38] murillol opened #20 "Agenda team meeting 2021-09-01"
**Agenda**: https://wp.me/p72A3H-24H
**Link to Meeting**: https://wordpress.slack.com/archives/C0GKJ7TFA/p1631109673103800

[2021-09-08 16:40] murillol opened #21 "Landing Page: "How to create a WordPress business website""
DONE = Meta Trac Ticket with Landing Page Copy
We have already published a 2600 word guide on "How to create a business website with WordPress."
We will use that as the basis for this landing page.
It will be 300 words long.

https://make.wordpress.org/marketing/2018/11/07/how-to-create-a-business-website-with-wordpress/

Original Task lead: Joe Lobo

[2021-09-08 16:43] murillol commented on #21
_Timeline_
10 July 2020
@abhansnuk:
This is currently being reviewed as part of Marcomms materials being produced for 5.5 and planning for 5.6. If anyone has an experience with this, please reach out in the marketing slack.

Joe Lobo, did you have a draft document of the copy please and any additional items relating to the trac ticket you raised? Would you have time to work with the working group

[2021-09-08 16:45] murillol opened #22 "WordPress for Corporate Sized Entities"
1: Objective: Help agencies persuade decision makers in corporate entities of the benefits of WordPress over other systems.
Working Document: https://docs.google.com/document/d/19HzURxeG-Y8vV5MZqmOUANyc1k4QDADvZDMnQjszFMw/edit#heading=h.nwa9lnlw5yv5

2: Done =
-Buyer Persona CMO outlined
-Buyer persona CTO outlined
-Content needs for both outlined

3: Original Task-Lead: @yvettesonneveld

_Timelin

[2021-09-08 19:27] murillol opened #23 "Blog Post: Core Integrates With GitHub"
Working Document: https://docs.google.com/document/d/1mdFY6EHsgjjP-eOLIfYrNdYNTzrTLD8dQ7Mz7VcpS5E/edit

NOTE: this is on hold as not ready for publication. Status to be reviewed with Core on 14 August 2020, post 5.5 release. To be added to agenda for meeting between core and marketing.

@kopepasah reached out to the WP Marketing Team to share this meta ticket: https://meta.trac.wordpress.org/chang

[2021-09-08 20:09] murillol opened #24 "WordPress Planet Update"
Task: planet.wordpress.org seems to have sources that might not be as relevant as they were in the past. Need to discuss, review list and possibly update it.

Working document: https://docs.google.com/spreadsheets/d/1PrLm3nXos6IhrKbBpLtAYfF7UuyQEgXY7KaIORbspDw/edit?usp=sharing

Request by: Francesca Marano (https://wordpress.slack.com/archives/C0GKJ7TFA/p1605770491014900)

[2021-09-13 20:20] murillol opened #47 "Template Contacting Nominees - #WPTranslationDay"
**Context**: copying over draft from WPTD meeting 2021/9/14
**Draft Copy**: Abha
Working Document: https://docs.google.com/document/d/1qRz-YLnDU5zaTgRvxY1G9_qpuJ14CPtPwQQHNu8NoC0/edit?pli=1

**Contacting Nominees**

Congratulations {{ first name }}! You have been nominated as a polyglot to be featured in WordPress Translation Day 2021 this September and beyond! We really appreciate all you do to h

[2021-09-13 21:31] murillol commented on #22
Copied over from a Trello card: https://trello.com/c/NLZdbvAH

[2021-09-13 21:32] murillol commented on #21
Copied over from Trello: https://trello.com/c/LR0osT3g

[2021-09-13 21:32] murillol commented on #19
Copied over from Trello: https://trello.com/c/ivm9wfcr

[2021-09-13 21:33] murillol commented on #18
Copied over from Trello: https://trello.com/c/V7dAnfne

[2021-09-13 21:33] murillol commented on #17
Copied over from Trello: https://trello.com/c/BTof9ObB

[2021-09-13 21:34] murillol commented on #16
Copied from Trello: https://trello.com/c/wjV5ROeh

[2021-09-13 21:35] murillol commented on #15
Copied from Trello: https://trello.com/c/Ix7fNA05

[2021-09-13 21:35] murillol commented on #14
Copied from Trello: https://trello.com/c/baNk8tVC

[2021-09-13 22:28] murillol commented on #13
This was also included in the Community Month in WordPress August newsletter. People who worked on it were Abha, Nalini, Jill Binder, Larissa

[2021-09-13 22:28] abhansnuk opened #25 "2021/ Quarter 3 - WordPress Marketing"

[2021-09-13 22:31] abhansnuk opened #26 "2021/ Quarter 4 - WordPress Marketing"
Drafted, submitted and published:
https://make.wordpress.org/updates/2021/04/15/quarterly-updates-q1-2021/

[2021-09-13 22:33] abhansnuk opened #27 "2021/ Quarter 1 - WordPress Marketing"
Team reps and projects and actions groups contacted, shared in wider team.

Contributions from (WP.org ID): webcommsat, yvettesonneveld, meher, maedahbatool,  OGlekler, nalininonstopnewsuk, lmurillom

Text:
Marketing

Previous Priority: Continue to support the Learn WordPress resource; assisting Polyglots with materials to encourage and sustain contributions; establish a series of contributor intr

[2021-09-13 22:37] murillol opened #28 "#WPDiversity Social Media Q3 2021"
**Objective:** increased signups to the inaugural Allyship workshop for the new Allyship program.

**Target Audience**: WordPress Meetup and WordCamp event organizers, all WordPress contributors who want to learn about creating welcoming and diverse event spaces and every person in WordPress who wants to champion this kind of environment.

**Event Dates**
Thursday, 19 August 2021 5.00pm-7.00pm UTC

[2021-09-13 22:37] #28 closed

[2021-09-13 22:39] abhansnuk commented on #27
[Published version](https://make.wordpress.org/updates/2021/04/15/quarterly-updates-q1-2021/ )

[2021-09-13 22:39] #27 closed

[2021-09-13 22:47] abhansnuk opened #29 "2020 Quarter 1 Updates"
Copying over from old project management system for archive links.

Information drafted, shared in wider team, and submitted.

**Marketing submission**
Contacted (WP.org IDs): webcommsat, harryjackson1221, maedahbatool, miker, yvettesoneveld

Priority: The team is prioritizing recruiting and training contributors to increase capacity and effectiveness.
Struggle: Developing new onboarding practices

[2021-09-14 00:12] abhansnuk opened #30 "2020 Quarter 4 - Updates"
https://make.wordpress.org/updates/2021/01/15/quarterly-updates-q4-2020/

[2021-09-14 15:50] murillol opened #31 "Alternative Banner Images for LinkedIn"
Our current [Make WordPress Marketing Team LinkedIn Page](https://www.linkedin.com/company/12976001/admin/) has a header image that is not changed often, and we would like for it to reflect current or evergreen campaigns/events (e.g. LearnWP, WPTranslationDay, etc).

**Task**: create an alternative banner image(s) for the Make WordPress Marketing Team LinkedIn Page

_Theme_:
- WordPress Translatio

[2021-09-14 15:51] murillol commented on #31
@abhansnuk do we have a media kit for #LearnWP?

[2021-09-14 15:56] murillol opened #32 "Collate a spreadsheet list of WordCamps running contributor events"
Task: Collate a spreadsheet list of WordCamps running contributor events

What to include:

- Published WordCamps which will be running a contributor event in the next six months from December going into 2021;
- Language-based WordCamps. For each please include the dates (year-month-date), link to the website info, contact for the contributor event, language of the event.
- Please also add columns

[2021-09-14 16:00] murillol opened #33 "Create a Resources file to showcase WordCamp promotions and help smaller camps and teams"
**Task**: Create a Resources file to showcase WordCamp promotions and help smaller camps and teams with ideas for images, logos and visuals

There is a [Trello card for reference](https://trello.com/c/CqKNFxaf), and the Google Drive to store items is linked in the card.

**Who might like to do this task**:

- First easy task for an individual or a small group. There is help available for drafting

[2021-09-14 18:36] #20 closed

[2021-09-14 18:41] murillol opened #34 "Agenda team meeting 2021-09-15"

[2021-09-14 18:42] abhansnuk opened #35 "Agenda team meeting 2021-08-25"
Link to the Agenda: https://make.wordpress.org/marketing/2021/08/25/agenda-global-marketing-meeting-25-august-2021/

Link to the Slack, Make WordPress - Marketing Team
https://wordpress.slack.com/archives/C0GKJ7TFA/p1629900133443800

[2021-09-14 18:42] #35 closed

[2021-09-14 18:52] abhansnuk opened #36 "The project's quarterly updates"

[2021-09-18 07:33] abhansnuk opened #37 "Social promo for WPDiversity events in India 2021/09"
_Summary from Slack_
 **Task:** request for global social media promotion

 **Background:** Query raised by Nalini at WPDiversity meeting 2021/9/15 if these events were to be included on the social media promotion. Jill confirmed - note tight turnaround.

**Key information:** Note from Jill 2021/9/17: use Eventbrite links directly for remaining events on 18 and 24.
The Sept 18 ticket sales end 10

[2021-09-18 07:59] abhansnuk commented on #34
2021-09-13 Request for agenda items/ updates sent out
Agenda published.

**Link to agenda:** https://make.wordpress.org/marketing/2021/09/15/agenda-global-marketing-meeting-15-september-2021/
**Link to meeting timestamp on Slack added:** done 2021/09/18. How to shared with meeting facilitators.

**Requests:** consider adding the link to the meeting timestamp on Slack onto the agenda on the blog (P

[2021-09-18 07:59] #34 closed

[2021-09-18 08:06] abhansnuk opened #38 "Agenda team meeting 2021-09-22"
To do:
- Monday before - request for agenda items/ updates / other Make Teams links
- incorporate into agenda
- publish agenda and add link to it on GitHub
- use agenda and numbering during meeting to help people follow, contribute async and for accessibility
- add link to start of Slack meeting onto agenda

[2021-09-18 08:17] abhansnuk commented on #18
Shared with Dan Soschin as part of background items on Five for the Future in Marketing.
Status: Whole card to be reviewed and updated.

[2021-09-18 08:19] abhansnuk commented on #16
Shared with Dan Soschin as part of previous cards related to Five for the Future. Status review on this card pending.

[2021-09-18 08:25] abhansnuk commented on #23
Dan Soschin to assist in looking at current status of this.

[2021-09-19 02:28] murillol commented on #37
_Linkedin_
Date: Monday 20 September 2021
**Account**: Make WordPress Marketing Team

If you want more women to speak at your #WordPress meetups or WordCamps in India, then you can't miss the upcoming #WPDiversity event "Empower Women Speakers For Your WordPress Events in India"!

The workshop has 2 parts, on Friday 24 September and Saturday 25 September 2021. Both sessions are from 3.30am to 5.30

[2021-09-19 02:42] murillol opened #39 "Notes Team Meeting 2021-09-15"
**Notetaker**: @femkreations

Link to Notes Doc: https://docs.google.com/document/d/1L2DZ5iaTEgjrbyc4pIda9-GPWbrFjdiLTKbZXSi4z-Y/

[2021-09-19 03:17] murillol commented on #39
Hi @femkreations!

I know this is your first time doing notes, I think you'll find it a fun task :)
A few pointers:

- The team members who are doing the task updates and facilitating usually leave all information ready in the Notes document right before the Meeting
- What you should do after the meeting is go to the Notes Doc (link above) and just check that each update section matches with what

[2021-09-21 22:09] murillol commented on #37
**Update**: Jill shared the [video](https://wordpress.slack.com/archives/C0GKJ7TFA/p1632162297315700?thread_ts=1631912100.312700&cid=C0GKJ7TFA) and [flyer ](https://wordpress.slack.com/files/U02S5FUKN/F02F7PD6MPW/empower_women_speakers_india_2021.pdf)on 20 September, I added subtitles and edited out a pause or two, and here is the [final version](https://drive.google.com/file/d/1eqwg6eOSg7peUYLW10

[2021-09-21 23:07] abhansnuk commented on #37
Thanks @murillol . Where is the video being hosted to be able to link it?

[2021-09-21 23:12] murillol commented on #37
Jill sent this link: https://cloudup.com/coGSY1ytGYT and the one I edited is just in a Google Drive

[2021-09-22 00:31] abhansnuk opened #40 "Team Updates P2 posting"

[2021-09-22 14:38] femkreations commented on #39
Completed the task

[2021-09-23 14:37] DanSoschin commented on #16
I may be able to help with some of this. I'm working on gathering other ideas/thoughts on FFTF and will then reconnect when I have more to share and an understanding of priorities. Thanks for including me on this card!

[2021-09-23 14:45] DanSoschin commented on #23
It appears that a related ticket in Trac was completed a while back: https://meta.trac.wordpress.org/ticket/4903

What exactly would we want to promote and to whom? I'm not sure this meets a broad enough threshold to promote through mass social media channels... versus just raising awareness within the dev communities on Slack. I presume that has been done already when the ticket was completed. Pl

[2021-10-07 10:19] abhansnuk opened #41 "Five for the Future - 2021 review (awareness)"
The Five for the Future program is being revisited to identify opportunities for growth.
Post by Andrea Middleton: https://make.wordpress.org/project/2021/09/10/suggested-iterations-for-the-five-for-the-future-program-and-tool/

Included in Month in WordPress September 2021, wording checked with @DanSoschin

Five for the Future issues on this GitHub - for status review/ linked to Dan:
- [Email tem

[2021-10-07 10:20] abhansnuk commented on #18
Cross-awareness:
- Five for the Future label added

[2021-10-07 14:20] murillol opened #42 "Notes Team Meeting 2021-10-06"
Can I please get a reviewer for this week's meeting notes? Thanks!

[2021-10-08 07:18] abhansnuk opened #43 "Yoast Contributor Days - 2021-10-08 & 2022-02-04"
Joint session between marketing and training.

Support the Learn. WordPress.org team with keyword research for future training material and create social media microcopy that can be used to promote the training sessions.

Yvette leading marketing table with Marketing/ Training contributors Hauwa and Courtney.

[2021-10-08 07:36] abhansnuk commented on #43
**Documents for use - Social media drafting**
Quarter 4, 2021 LearnWP social media drafting document
https://docs.google.com/document/d/1icC42YaEnZc6Z9qco3tK-osPBLvbyHCK8lj4HrKIDhQ/edit?usp=sharing

Shared with the co-ordinating team members from marketing and training for use.

[2021-10-11 19:26] murillol commented on #42
October 6 2021 please!

[2021-10-12 13:42] meherbala commented on #42
Hi, @murillol I have gone through the notes and made appropriate changes.

I am just puzzled about the Learn WP as it is at two different parts of the meeting.

--------------------------------------------------------------------------------------------

@abhansnuk please may I request you to just glance through the notes for 6th Oct 2021. Thanks

[2021-10-13 13:12] abhansnuk opened #44 "Notes 2021-08-25"
This was missing some information.
Meher helped to resolve.
Published: https://make.wordpress.org/marketing/2021/08/30/global-marketing-meeting-25-august-2021/

[2021-10-13 15:10] abhansnuk commented on #43
Update from Hauwa:
The Marketing and Training (Learn WordPress) teams had a great session at the Yoast Contributor Day. Contributors assisted in preparing social media posts regarding the content on Learn WordPress, and also had a great discussion on the support for SEO planning around the content on Learn WordPress.

Thanks to Yoast for hosting a combined in-house and public contributor event, an

[2021-10-13 15:30] abhansnuk opened #45 "2021/10 Polyglots newsletter (first edition)"
**Background**
Monthly newsletter starting October 2021 to highlight what is happening with Polyglots Team and to help people find key information as the Polyglots slack channel and P2 (blog) are both very busy locations.

Sign-up promotion throughout WPTranslationDay 2021 (September 2021) and onwards through Polyglots and Marketing Team. Included in the Month in WordPress newsletter and to be sha

[2021-10-13 15:47] #47 closed, assigned to abhansnuk, murillol

[2021-10-13 15:48] abhansnuk opened #48 "Picture followups on WPTD nominees appreciation"

[2021-10-13 18:31] abhansnuk opened #50 "Update A-Z jargon glossary and contributor glossary."
To update this issue with current items and updated since this card. The card on Trello can then be deleted. Check updates from WCEU 2021 Contributor Area. https://trello.com/c/6TerzFEd

[2021-10-13 18:48] abhansnuk commented on #50
**Polyglot/ translation related**
Add Polyglot-related terms or cross-link to any polyglot-glossary
This came from the number of requests for information on polyglot terms from WordPress Translation Days and contributor events where the glossary was used or tested.

Options

1. Link to key polyglot pages from the Marketing Team’s glossary
Note: previous discussions on updating this for the Learn W

[2021-10-13 19:31] abhansnuk opened #51 "Promote call for questions on FSE by 2021/10/27"
Request to Marketing from @ annezazu on Slack for help  promoting this call for questions or concerns on Full Site Editing in relation to release version 5.9. Deadline for submissions 27 October 2021.

Main push before the go/no go date this week.

https://make.wordpress.org/core/2021/10/13/submit-full-site-editing-questions-by-oct-27th/

[2021-10-13 20:21] abhansnuk opened #52 "Make WordPress Performance Team - AWARENESS"
Proposal 2021/10 for a new team to help co-ordinate efforts to increase performance.  https://make.wordpress.org/core/2021/10/12/proposal-for-a-performance-team/

[2021-10-13 20:22] abhansnuk commented on #52
2021/10/13 Promoting call for comments on proposal, once highlighted at DevChat https://twitter.com/wordpressevents/status/1448383001973465088?s=20

[2021-10-14 02:29] #42 closed, assigned to murillol

[2021-10-14 02:36] murillol commented on #24
@abhansnuk it looks like we could easily complete and close this one, what do you think?

[2021-10-14 19:13] abhansnuk opened #53 "2021/10 Meetup newsletter (Community)"
https://docs.google.com/document/d/1Cw6iufwPJ_yhlN3JrHNfl-kemmErUveNWVq6T_dSo5I/edit#

[2021-10-14 20:16] abhansnuk opened #54 "WP Diversity promotions [Macro]"
This will be the macro card for WPDiversity marcomms.

Individual cards will be set up for individual event promotions on the Rolling Tasks board.

https://make.wordpress.org/community/tag/wpdiversity/

https://make.wordpress.org/community/tag/diverse-speaker-support/

[Speaker Training Workshop lesson plan on Learn WordPress](https://learn.wordpress.org/lesson-plan/speaker-training-workshop/) - T

[2021-10-15 21:55] abhansnuk commented on #36
****What are these quarterly project updates?****
Four times a year, the project publishes a quarterly update.

****Where does the call for submissions appear?****
Josepha or Chloe reach out to the Team Reps in each team for an update on a number of bullet points. From Q2/2021, this call is shared in the Team Reps channel on Make WordPress Slack.

****Where does the team collaborate on these?****

[2021-10-15 22:27] abhansnuk commented on #54
**How we will use Github for Marcomms items and support to WPDiversity group**

_Previously:_

- managed WPDiversity items on Trello and in Google documents. WPDiversity lead Jill shared information in Slack and replied to queries in Trello
- this moved from Trello during the pilot and testing on GitHub and messages were tracked in our actions spreadsheet during the migration
- we will no longer b

[2021-10-15 22:40] abhansnuk commented on #45
Update posted by Erica 2021/10/15 in Marketing
- the first Polyglots monthly newsletter is now published - and emailed
https://make.wordpress.org/polyglots/2021/10/15/polyglots-monthly-newsletter-october-2021/
thank you so much for all of your helpful comments and feedback abhanonstopnewsuk, chaion07, EidolonNight!

Updates on social by @abhansnuk:
Twitter WPTD: done 15th
Facebook WPTD: done 15th

[2021-10-15 23:54] abhansnuk commented on #53
Published https://make.wordpress.org/community/2021/10/15/meetup-organizer-newsletter-october-2021/

Contributors from marketing to additions/ editing: (GitHub IDs) @abhansnuk, @meherbala and @eidolonnight

[2021-10-16 23:33] murillol opened #55 "WPDiversity Allyship event 2021/11/17"
Slack Thread: https://wordpress.slack.com/archives/C0GKJ7TFA/p1634342243293500

Allyship for WordPress event organizers AMER/EMEA
Wednesday, November 17, 2021
6pm-7pm UTC / 1pm-3pm ET
Free
(Tickets close 10 min before)

Key messages:
- Learn how to create welcoming and diverse WordPress Meetups and WordCamps for your WordPress community.
- This is not just for organizers, but anyone who wants to c

[2021-10-17 03:53] murillol commented on #55
**[Working Document is here](https://docs.google.com/document/d/1TDcEMhlsIuq9vSzA-XXQX8JYu-xjlzeOnBcDPvIG8hk/edit?usp=sharing)**. I have left the first drafts of the texts for both events for Facebook, LinkedIn and Twitter
@abhansnuk please leave any edits and additions and let me know when I can schedule them in. Thank you!

[2021-10-17 18:17] murillol opened #56 "Notes team meeting 2021-07-21"
**Note Taker**: @yashwardhanrana
**Note Reviewer**: @lmurillom
**Final Editor**: @abhansnuk

Agenda for Meeting: https://wp.me/p72A3H-1Xp
Meeting Slack Link: https://wordpress.slack.com/archives/C0GKJ7TFA/p1626875967306600

**[Published Meeting Notes on P2](https://make.wordpress.org/marketing/2021/07/27/notes-global-marketing-meeting-21-july-2021/)**

- [x] Notes in Google Doc correspond to P2?

[2021-10-17 18:27] abhansnuk opened #57 "Notes team meeting: 2021-08-18"
Completed and published by @yvettesonneveld
https://make.wordpress.org/marketing/2021/08/25/global-marketing-meeting-18-august-2021/

Proofed: Meher, Abha

[2021-10-20 10:41] abhansnuk opened #58 "Agenda team meeting 2021-10-20"

[2021-10-20 10:44] abhansnuk commented on #58
Contributions by @abhansnuk , @yvettesonneveld , @meherbala , @nalininsbs
Information also sent in by @jillb and Anne on FSE. Updates from Femy.

May need update when reply comes in from Nicholas. Please check before meeting to adapt timings.
Collaboration facilitation from Training Team will be @azhiya.

Published https://make.wordpress.org/marketing/2021/10/20/agenda-global-marketing-meeting-20-

[2021-10-20 10:45] abhansnuk opened #59 "Notes team meeting 2021-10-13"
Notes drafted by @meherbala , reviewed by @murillol and @abhansnuk

Published: https://make.wordpress.org/marketing/2021/10/20/notes-global-marketing-meeting-13-october-2021/

Linked from agenda 20 October 2021

[2021-10-20 10:46] #59 closed, assigned to nobody

[2021-10-30 14:02] nalininsbs commented on #37
@murillol could you please add the link to the edited and subtitled video on WP Marketing for future use please, and any other links of posts. This can then be closed. Abha confirmed it should move it to done on the rolling tasks board and the mapping tasks aggregate board. Thank you.

[2021-10-30 14:20] #51 closed

[2021-10-30 14:25] nalininsbs opened #60 "FSE promotion (Nov 2021)"
Steps copied over from Abha's October promotion task list:
(to add Anne to this card)

- add to Marketing Team agenda for xxx
- promote in Marketing Team meeting xxx and include in agenda under Core/ FSE update in meeting
- update GitHub task
- promotion on Twitter
- promotion on Facebook
- longer promotion on LinkedIn
- (add any links / suggested posts to the agenda for any async contributors, an

[2021-10-30 14:29] nalininsbs opened #61 "FSE promotion - December 2021 (TBC)"
Steps copied over from Abha's October promotion task list:
(to add Anne to this card)

add to Marketing Team agenda for xxx
promote in Marketing Team meeting xxx and include in agenda under Core/ FSE update in meeting
update GitHub task
promotion on Twitter
promotion on Facebook
longer promotion on LinkedIn
(add any links / suggested posts to the agenda for any async contributors, and links once s

[2021-10-30 14:35] nalininsbs opened #62 "2021/11 Polyglots newsletter"

[2021-10-30 14:41] nalininsbs opened #63 "2021/11 Meetup newsletter (community)"
We are waiting for the link to the document for review. (2021/10/30)

[2021-11-01 12:21] murillol commented on #37
Hi Nalini, the link to the video is included in my [21 September comment ](https://github.com/wpmarketingteam/Marcomms-Rolling-tasks/issues/37#issuecomment-924424008).

[2021-11-01 12:21] #37 closed

[2021-11-01 15:29] abhansnuk opened #64 "Updating diary dates post on Marketing blog (P2)"
This post appears on the P2 marketing homepage. It provides a quick look at the dates for the forthcoming month:
- it helps those who can not open or import the WordPress Marketing Team public calendar
- it is to be linked from from the weekly agenda and shared in the weekly meetings.
https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/

[2021-11-01 15:30] abhansnuk commented on #64
Those with accounts on the P2 marketing should be able to update this post.

[2021-11-01 15:42] abhansnuk commented on #64
**November 2021** - updated post by @abhansnuk (webcommsat) and @meherbala (meher), and included @OlaIola (oglekler) information on how to import diary dates from the Marketing Team calendar.

[2021-11-01 16:13] abhansnuk commented on #64
[Background on this for team reps and projects and actions groups](https://github.com/orgs/wpmarketingteam/teams/wp-marketing-team-reps-and-projects-group/discussions/10)

[2021-11-02 00:16] abhansnuk commented on #55
Thanks @murillol and @nalininsbs for the review and checking against the WPDiversity meetings.
I have edited and been through the comments. Will create and add a short link.

[2021-11-03 18:53] Collieth commented on #22
This is a good piece of work. Would someone mind providing background on how the personas above (and bulleted out below were created? And how long ago it was was created, @abhansnuk @yvettesonneveld @murillol

-Buyer Persona CMO outlined
-Buyer persona CTO outlined
-Content needs for both outlined

[2021-11-08 21:53] annezazu opened #65 "Promote FSE Outreach call for testing #11 through November 30th"
Request to have you all help promote the latest FSE outreach call for testing ahead of 5.9: https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/

Thanks so much!

[2021-11-10 12:26] abhansnuk opened #66 "2021 November & December newsletters / Internal awareness links"
https://docs.google.com/document/d/19Y9yjefMR5kZM2gbyogC9jGZ-sKJvpivdXFGCF-IVeI/edit?usp=sharing

[2021-11-10 21:20] abhansnuk opened #67 "Agenda: Team meeting 2021/11/10"
https://make.wordpress.org/marketing/2021/11/10/agenda-global-marketing-team-meeting-10-november-2021/

[2021-11-10 21:21] abhansnuk commented on #67
- 2021/11/08: request for items and team nomination promotions in Slack
- Agenda published
- Slack link to start of the meeting added

[2021-11-10 21:21] abhansnuk commented on #67
WPDiversity links and social links to be added

[2021-11-10 21:23] abhansnuk opened #68 "Agenda: Team meeting 2021/11/03"
Published https://make.wordpress.org/marketing/2021/11/03/agenda-global-marketing-team-meeting-3-november-2021/

[2021-11-10 21:24] abhansnuk commented on #68
- 2021/11/01: request for links/ updates, make teams updates in Slack
- Agenda published by @abhansnuk and @yvettesonneveld
- Link to slack meeting start added

[2021-11-10 21:33] #53 closed

[2021-11-10 21:34] #68 closed

[2021-11-10 21:50] abhansnuk opened #69 "Agenda: Team meeting 2021/11/17"

[2021-11-15 17:06] abhansnuk commented on #63
Published version issued [15 November 2021 ](https://make.wordpress.org/community/2021/11/15/meetup-organizer-newsletter-november-2021/ )

[2021-11-15 20:13] murillol commented on #31
I think we could extend this to the @wordpressevents Twitter account as well, to have a few rotating banners @abhansnuk

[2021-11-15 20:31] murillol commented on #65
**Proposed Copy**

_LinkedIn_
Join the final call for testing before WordPress 5.9! Your participation will help improve the experience for a large portion of the web.
This test goes over a lot, so get ready to explore various site editing flows, design tools and editing specific template parts.
Please amplify this call for testing by sharing with your networks!

https://make.wordpress.org/test/20

[2021-11-17 17:27] abhansnuk opened #70 "WPDiversity workshop, 9 December 2021"
2021/11/17 [Link to initial briefing to marketing from WPDiversity](https://wordpress.slack.com/archives/C0GKJ7TFA/p1637118652273400)

**Event info received with marketing info**
How to Own Your Expertise & Start Speaking at WordPress Events AMER/EMEA
Thursday, December 9, 2021
6-8pm UTC
Free

- Tickets close 15 min before
- Audience: - For Americas and Europe

Key messages update for this event f

[2021-11-18 16:39] murillol commented on #65
@abhansnuk can you give this a quick check pls

[2021-11-21 10:40] abhansnuk opened #71 "WordCamp Sevilla 2021"
Request came in 2021/11/21

[2021-11-22 21:18] abhansnuk opened #72 "Month in WordPress newsletter [Macro]"
(Moving the Macro card from the cross-team repo to rolling tasks)

[2021-11-22 21:39] abhansnuk opened #73 "2021 November - Month in WordPress (news)"

[2021-11-23 12:04] meherbala opened #74 "PENDING Meeting Notes Status"
28 July 2021 - Maedah (@maedahbatool) => Larisa was to check but needs to be reassigned

20 October 2021 - Ugyen (@ugyensupport) => Meher has checked but there was a part that was wrong. He has fixed it. Meher needs to re-look at it.

27 October 2021 - Yvette (@yvettesonneveld) => not yet heard from Yvette.

3 November 2021 - Olga (@oglekler) => Unable to do it, hence need to be re-assigned

10 No

[2021-11-23 12:57] murillol commented on #74
Thanks for the list @meherbala, it's unfair for you to be doing almost everything. Don't re-assign the 28 July, I'll do it this morning while I'm waiting for a meeting to begin. I will then let you know if I can check Maja's.

[2021-11-23 13:14] murillol commented on #65
pinging @abhansnuk  👯

[2021-11-23 13:44] majadidit commented on #74
I would love to assist both Meher and you ...

[2021-11-23 15:16] murillol commented on #74
Thanks @majadidit 🤗 ! Want to try doing the first draft of 3 November meeting?

[2021-11-23 20:18] meherbala commented on #74
Thanks, @murillol but I am planning to do Maja today.

If you can take a look at 28 July it would really help.

[2021-11-23 23:08] lmurillom commented on #74
ok @meherbala I took a look at it and added some stuff. It's ready as a draft on the P2 under Maedah's name. If nothing else is needed I can hit publish.

[2021-11-23 23:10] murillol commented on #74
OK @meherbala I revised and edited the 28 July notes, they are in the P2 as a draft under Maedah's name. If nothing else is needed, I can hit publish.

[2021-11-23 23:16] meherbala commented on #74
I have completed checking and editing for notes dated 20 October 2021 and 10 November 2021

I will publish them tomorrow and mark it complete here.

[2021-11-23 23:17] meherbala commented on #74
@murillol give me 5 mins to check the publishing date and excerpt.

[2021-11-23 23:31] meherbala commented on #74
**Made the following change on the notes dated 28 July 2021**
1) Change the publishing date to 2nd Aug
2) Changed the excerpt
3) Remove some people WP id and mention their name
4) Numbered all the sub-tasks under the parent task 3

[2021-11-23 23:32] meherbala commented on #74
@abhansnuk can we hit the publish button?

[2021-11-24 10:18] meherbala commented on #74
Published 28 July 2021
https://make.wordpress.org/marketing/2021/08/02/notes-global-marketing-meeting-28-july-2021/

[2021-11-24 10:30] meherbala commented on #74
Published 20 October 2021

https://make.wordpress.org/marketing/2021/10/25/notes-global-marketing-meeting-20-october-2021/

[2021-11-24 10:51] rmartinezduque commented on #73
We've created [this document](https://docs.google.com/document/d/1TbIQQIMj6_8wa18Ay2IuTQVKHkH4rjE-AK-EmXb27Io/edit) to make it easier to collaborate on the next edition of The Month in WordPress.

### What's The Month in WordPress?

The Month in WordPress is a monthly roundup of all the major WordPress news that gets published by the 5th of each month at WordPress.org/news. For more context and to

[2021-11-24 11:16] meherbala commented on #74
Published notes for 10 November 2021

https://make.wordpress.org/marketing/2021/11/15/notes-global-marketing-meeting-10-november-2021/

[2021-11-24 11:20] meherbala commented on #74
As I have not heard back from @yvettesonneveld I will take over and get the notes for 27 October 2021 completed.

@murillol would it be possible for you to take on notes for 10 November 2021?

[2021-11-24 12:23] meherbala commented on #74
Published notes for 27 October 2021

https://make.wordpress.org/marketing/2021/11/01/notes-global-marketing-meeting-27-october-2021/

[2021-11-24 12:36] meherbala commented on #74
**Only 2 notes are left:**
3 November 2021
17 November 2021

[2021-11-24 13:18] murillol commented on #74
Let's see if @majadidit can help out with the first draft of the 3 November ones and I can edit them. After those are done I solemnly request to be off Notes duty until 2022!!!

[2021-11-24 13:47] murillol commented on #71
[Ana's Reply](https://wordpress.slack.com/archives/C0GKJ7TFA/p1637589490376000?thread_ts=1637491139.374300&cid=C0GKJ7TFA):  _Thanks channel for your help. So at first I can't think of many things and perhaps you are more used to knowing how to spread WordCamps from other communities.
At first, three actions come to mind:_

_1. Write a post on the global blog as the news of the first post-pandemic

[2021-11-25 14:58] majadidit commented on #74
Nov 3 notes are ready ... Its easier for me to make changes in this single-file template. I failed altering the Master Doc but the Meher found a way how to make it more easier! Here is the link on Nov 3 notes. Thanks Meher!
https://docs.google.com/document/d/1zCIBGeyE_APXi3gME9dHqah7I2Tb94058hTAZW7j9rI/edit#heading=h.admumh2ycydc

[2021-11-25 19:10] murillol commented on #74
Awesome @majadidit! I'm checking it now

[2021-11-25 19:53] murillol commented on #74
ok I did some edits (have to move on to another task now), I see @meherbala is also in the doc, please let me know if I can do anything else later

[2021-11-25 20:16] meherbala commented on #74
Thanks to @majadidit and @murillol for help.

Notes for 3rd Nov are now published:
https://make.wordpress.org/marketing/2021/11/08/notes-global-marketing-meeting-3-november-2021/

[2021-11-25 20:19] meherbala commented on #74
@femkreations is doing notes for 17 November 2021.

@murillol or I will proofread it.

[2021-11-25 20:27] meherbala commented on #74
The notes for 3 Nov have been moved to the Master Document.

I am changing the notes template so Maja can use it in the future.

[2021-11-26 19:54] abhansnuk opened #75 "Captions for video 'How to contribute to core'"
Video on WordPress Marketing Team YouTube. Currently unlisted, awaiting subtitles and links to resources on core. Used for WCEU.

Check with Paul and Chris C if it can be used for Learn WP or if there is a newer version that could be used there. If so, it needs to be submitted to WPTV, and then linked from Learn WP.

If there is a newer version to go on WPTV and once submitted:
- do not make the v

[2021-11-26 20:05] abhansnuk opened #76 "Captions for video short by polyglot Devin Maeztri"
To link from:
- People of WordPress feature for November 2021
- Polyglot Newsletter December 2021
- social
- WPTD website and WPTD social

(@devinmaeztri) – WordPress user profile

2021/11/26 Abha:
- uploaded video to YouTube as unlisted
- captions to be created
- once captions published, video to be listed as public and to be added to RSS feed etc
- links from description to POW, WPTD story etc

[2021-11-26 22:16] abhansnuk commented on #76
2021/11/26 Abha (continued)
- subtitles done and synchronized
- link changed on YouTube to public and published in the
- link sent to Hari to test
- link sent to Erica for Polyglots Newsletter December 2021 *
- * if an embed is needed for Polyglots Newsletter, the code with links to the Translation playlist will need to be created and provided to @varlese
- link shared with Meher for People of Wor

[2021-11-26 22:28] abhansnuk opened #77 "Upload and check subtitles, Gautam video short, Polyglot/ WPTD"
To do:
- Upload the video file onto WP Marketing Team YouTube and set descriptors and settings. List as private until all ready to go live as otherwise it will not go out on the RSS feed
- Check with Gautam on new contributor info to include in story on descriptor and for sentence in the Polyglot newsletter
- Check subtitles setting uses the ones Hari has done on the video itself
- Add to WP Trans

[2021-11-30 19:55] murillol commented on #71
**Update**: Ana has indicated there is a Spanish language video and whether we can share. I've replied, we're waiting on the link

[2021-12-01 00:24] abhansnuk commented on #73
I have added quite a few links from core, release-orientated, People of WordPress, and others. Nalini is following up on the write-ups from the WPDiversity items. https://make.wordpress.org/community/2021/11/26/recap-of-the-diverse-speaker-training-group-wpdiversity-on-november-24-2021/

Can I suggest you add the google docs to the Marketing drive in a Newsletter/ Month in WordPress folder. This w

[2021-12-01 10:23] Starbuck245 commented on #73
Thanks for your help by sharing those links, Abha! We appreciate it.

_> We will have one more post from Marketing to add on 1 December._

Sounds good. Could you please share the link once it goes live today? We are planning to publish on Dec 2.

_> Can I suggest you add the google docs to the Marketing drive in a Newsletter/ Month in WordPress folder. This will make it easier to find a previous m

[2021-12-01 19:28] abhansnuk commented on #73
I think you have access automatically as you're in A8C, but we can make sure it all works properly for you. That will be great. Thanks @Starbuck245

[2021-12-01 19:38] jillb commented on #70
@murillol @abhansnuk @nalininsbs

There has been a chance of plans. As we get to the end of this year that was the busiest year yet, a year filled with many workshops and expanding our programs from one to three, we decided it makes more sense to save our workshop energy for the new year and new year’s resolutions in January.

So we are going to cancel the December 9, 2021 Diverse Speaker workshop

[2021-12-01 19:45] abhansnuk commented on #70
Thanks @jillb . We will get on this.

Actions:
- unschedule Fb promotions on WordCamp and WordPress Events (Abha)
- remove Fb event entry on WordPress Events (Abha)
- update in comment, if we can not in the post, previous Fb post about the event (Abha)
- remove the LinkedIn promotion that went out 1/12/21 (Abha)
- unschedule the Twitter promotions (Larissa)
- change references to promotions in P2

[2021-12-01 19:47] abhansnuk commented on #73
I have deleted the Diversity 9 December event from the list @Starbuck245 as it has been cancelled a short time ago.

[2021-12-01 20:42] murillol commented on #70
I do not see anything in the Twitter scheduler so we can check that off 👍

[2021-12-06 01:22] murillol commented on #71
**Update**: there is a video in English which Ana has shared. I've added subtitles to it and will include in promos.

[2021-12-06 01:57] murillol commented on #71
Suggested Posts:

**6 December 2021 - Twitter**
On 11 December 2021, WordCamp Sevilla will take place, in-person! Meet new people, catch up with familiar faces, and experience the magic of the #WordPress community! As @rociovaldi says, everyone is welcome! [include uploaded video] https://sevilla.wordcamp.org/2021/entradas/ #WCSevilla

**7 December 2021 - LinkedIn**
Sevilla's in-person WordCamp is

[2021-12-06 08:50] meherbala commented on #74
@murillol do you have the bandwidth to please proofread the notes for 17 November 2021 ?

[2021-12-06 11:10] meherbala commented on #74
Notes for 24th Nov - published on P2

https://make.wordpress.org/marketing/2021/11/29/global-marketing-meeting-24-november-2021/

[2021-12-07 18:32] abhansnuk opened #78 "Marketing blog (P2) posts planning"
(other than meeting notes and agendas)

[2021-12-07 18:35] abhansnuk commented on #78
GitHub error keeps unassigning people added to update the documentation on this area for future planning purposes.

[2021-12-07 18:43] abhansnuk commented on #71
All done on the 6th. Did the blog go on the WordCamps news?

[2021-12-07 18:48] abhansnuk commented on #73
Adding a link to the published version of this newsletter: https://wordpress.org/news/2021/12/month-in-wordpress-november-2021/

[2021-12-07 19:00] murillol commented on #71
Thanks @abhansnuk! I understand that Ana is working on a post for the P2 (pre-event) that was requested by Rocio, but I am not involved in that part. I have an additional question: would it be possible to put something up (or retweet/share) on the WordCamp Central Twitter / Facebook accounts regarding the event?

[2021-12-07 19:12] murillol commented on #75
@abhansnuk is the deliverable here an **.srt** file?

[2021-12-07 19:23] murillol commented on #74
I can do my best, to get to it during this weekend - I have very limited bandwidth.

[2021-12-07 19:37] abhansnuk commented on #73
@Starbuck245 - I could not find the draft text of this newsletter, only the document where we added links to. Are you no longer sharing the draft in the community and marketing teams before it gets published? Apologies if I didn't see it. Can I please suggest you add it to the GitHub card in future too.

Can I suggest to consider avoiding referring the 'holiday season' as the main intro for newsle

[2021-12-07 23:18] abhansnuk commented on #71
I can ask. Is there a link to any post they have already done on the WordCamp news site @murillol? Thanks

[2021-12-08 00:23] murillol commented on #71
Thank you! No posts yet on the WC News site but I will keep an eye out and also ask if its coming.  The only link we have besides the event website is: https://central.wordcamp.org/wordcamps/wordcamp-sevilla-5/

[2021-12-08 08:02] Starbuck245 commented on #73
Hi @abhansnuk,

Thanks for checking in!

I already shared the draft of the newsletter with you [in slack ](https://wordpress.slack.com/archives/C0GKJ7TFA/p1638447201061500?thread_ts=1638369712.027800&cid=C0GKJ7TFA) and I mentioned that I couldn't find a folder named "newsletter" or "month in Wordpress" in the marketing drive.

As for the "holiday season," I intentionally didn't mention specific ho

[2021-12-08 10:01] Starbuck245 commented on #73
Here's the doc again: https://docs.google.com/document/d/1o0V43QoDXArzhCOjz2PVd0A9bOrlgB09U5bqdCQ1fg0/edit?usp=sharing

[2021-12-08 14:03] eidolonnight opened #79 "WordPress Social Media Amplification"
An easy way to help spread the word about WordPress is by liking, commenting, sharing, or otherwise engaging with content across our social media channels. This can be down through your own personal social media account(s), requiring no access or prior training, so it is a great way to get acquainted with the Make Marketing team effort and the WordPress project.

### WordPress social accounts
Thes

[2021-12-11 16:10] murillol commented on #74
Notes for **8 December 2021** done, ready proofread @meherbala

[2021-12-11 22:31] murillol commented on #74
Notes for **17 November 2021** checked and I added the Collab stuff. I can't upload to P2 yet @meherbala, my connection is awful. Help!

[2021-12-16 08:13] meherbala commented on #74
thanks, @murillol will upload and publish notes for 17th Nov.

Will proofread notes for 8 Dec and publish once done

[2021-12-22 07:59] meherbala commented on #74
Notes for 17 November 2021 published - https://wp.me/p72A3H-2dj

[2021-12-22 14:45] abhansnuk opened #80 "2021/12 Month in WordPress December"
(Deadline: December 30, 2021)

Note from @anjanavasan in Slack: If anyone would like to highlight something in the next edition of the Month in WordPress or the newsletter for meetup organizers, please enter it in the following documents by the date mentioned below:
[Submissions for the Month in WordPress](https://docs.google.com/document/d/1TbIQQIMj6_8wa18Ay2IuTQVKHkH4rjE-AK-EmXb27Io/edit?usp=sha

[2021-12-22 22:23] abhansnuk opened #81 "Marketing Team Reps nominations for 2023"

[2022-01-04 18:18] yvettesonneveld commented on #22
Hey @Collieth, I'm sorry I just see this now. I still need to get into the habit of checking GitHub as regularly as I check Slack. This was created during the contributor day at WordCamp Europe 2021. We gathered a group of agency owners and marketers serving the enterprise market. We sat down with big sheets of paper and sticky notes and had very insightful conversations. I turned the sheets with

[2022-01-05 23:57] abhansnuk commented on #22
Thanks Yvette. There are other persona work that have also been done at intervals and we can come back to post the release.
________________________________
From: Yvette Sonneveld ***@***.***>
Sent: 04 January 2022 18:18
To: wpmarketingteam/Marcomms-Rolling-tasks ***@***.***>
Cc: Abhanonstopnewsuk ***@***.***>; Mention ***@***.***>
Subject: Re: [wpmarketingteam/Marcomms-Rolling-tasks] WordPress fo

[2022-01-12 22:13] abhansnuk opened #82 "Storytelling workshop for WPDiversity"
- completing this card with information from Nalini

Completed workshop links from @jillbinder

https://learn.wordpress.org/workshop/storytelling-for-tech-talks/

https://make.wordpress.org/community/2020/10/16/call-for-participants-diverse-speaker-workshops-october-november-2020/

https://www.eventbrite.com/e/intermediate-wordpress-diverse-speaker-workshops-november-2020-tickets-125564150755

htt

[2022-02-03 11:15] TrulyPain commented on #19
@murillol
I can do the Swedish translation if you want. Here in Sweden, we do not have many great hosts, but we do at least have Loopia, Beebyte, and Oderland.

[2022-02-07 15:52] #82 closed

[2022-02-07 15:54] nalininsbs commented on #80
Published: https://wordpress.org/news/2022/01/the-month-in-wordpress-december-2021/

Contributors (note below are WP.org IDs)
anjanavasan, harishanker, lmurillom, meher, webcommsat

[2022-02-07 15:54] #80 closed

[2022-02-07 15:56] nalininsbs commented on #77
Test adding this to a replica board under WordPress organization

[2022-02-07 16:02] nalininsbs commented on #76
Props to @abhansnuk @OlaIola for this. Shared with Erica.

Link to video in English https://youtu.be/VsiQzdmAz8g

@OlaIola is there a version in Indonesian to link to please? thank you

[2022-02-07 16:07] nalininsbs commented on #43
@yvettesonneveld could you please add any links necessary to this card, add the names of contributors, and close the card with comment. Thank you

[2022-02-07 17:02] nalininsbs commented on #44
Props to @meherbala . Closing card

[2022-02-07 17:02] #44 closed

[2022-02-07 17:04] nalininsbs commented on #55
@murillol can you please add any links to published items relating to this, and then close the card with the comment.

Part of our test of how props work on the new organization, adding them below.
Props to: @abhansnuk , @nalininsbs , @murillol , @jillb

[2022-02-07 17:11] nalininsbs commented on #69
Notes published link: https://make.wordpress.org/marketing/2021/11/22/notes-global-marketing-meeting-17-november-2021/

Agenda published link: https://make.wordpress.org/marketing/2021/11/17/agenda-global-marketing-meeting-17-november-2021/

Props to: @murillol and @abhansnuk for the notes and agenda work.

[2022-02-07 17:11] #69 closed

[2022-02-07 17:40] nalininsbs commented on #48
Original emails all went out - confirmed by Larissa and Erica. Text / copy thanks to Erica, Hari, Larissa, Abha, (other names to be added).

**To do:**
An update is due for remainder who have not as yet replied. Will check-in with @murillol and Erica for the calendar of promotions for the polyglot nominations. Please do not close this card until we have done this to remind.

[2022-02-07 17:47] nalininsbs commented on #50
@abhansnuk you mentioned in core and one of the components about updates on this and for documentation to help marketing. Tagging you if you can add an update to this card and the links, when you are available. Thank you.

[2022-02-07 17:50] nalininsbs commented on #50
It will not let me add Mary Baum to this again.  I will add this as a potential bug for resolution to the internal comms temp repository later in the week .

[2022-02-07 17:51] nalininsbs commented on #66
This has been done. Please do not close this card until the link to the template used for the cross-team spreadsheet has been moved to a macro card. Thank you.

[2022-02-07 17:56] murillol commented on #55
Hi! All the links to the published items [are in the Google Doc](https://docs.google.com/document/d/1TDcEMhlsIuq9vSzA-XXQX8JYu-xjlzeOnBcDPvIG8hk/edit#heading=h.esuopgo1wjb9).

- [Wednesday 10 November 2021](https://www.facebook.com/wordpressevents/posts/285751730103248?__xts__[0]=68.ARC20C3MPkEhOZMSlej-XjzJC-qtpi2SiGmcyYoUO5ApMqIm6Uo3eDUXoh-zrMGXx9h_voH4wj0JaAFh-KhjWA6nrovfjHqXFbiTABA4nWLjxZlwsD1H

[2022-02-07 17:56] #55 closed

[2022-02-07 17:57] murillol commented on #48
I don't quite remember what this task is about @nalininsbs , could you please remind me?

[2022-02-07 17:57] nalininsbs commented on #62
Transferring from the updated card pre-migration.

Published link: https://make.wordpress.org/polyglots/2021/11/22/polyglots-monthly-newsletter-november-2021/

Props to: Thank you to the following people contributed to this month’s newsletter (WP.org IDs as do not have all GitHub ones): tobifjellner, evarlese, pedromendonca, webcommsat (@abhansnuk ), lmurillom (@murillol )

[2022-02-07 17:59] nalininsbs commented on #62
From this edition, particularly highlight these links:

A feature recap of the [WordPress Translation Day 2021 events](https://wptranslationday.org/blog/celebrating-wordpress-translation-day-2021/) is available. It also includes highlights from [local events](https://wptranslationday.org/wptd-2021/event-recap/) and [Polyglots Appreciation Nominees](https://wptranslationday.org/wptd-2021/polyglots-

[2022-02-07 17:59] #62 closed

[2022-02-07 18:01] murillol commented on #19
Thank you @TrulyPain! @abhansnuk, do you recall who was handling this task?

[2022-02-07 18:02] nalininsbs commented on #81
Transferring to the new board

[2022-02-07 18:03] nalininsbs commented on #79
Moving to the Macro column.

[2022-02-07 18:05] nalininsbs commented on #77
Test successful on this card. Can now update this card under the new organization.

@OlaIola will you still be able to help with this task? Thank you

[2022-02-08 08:13] yvettesonneveld commented on #43
### We worked on:
-microcopy for social media posts
- did some testing with the social media image generator plugin. This plugin is planned to be included in JetPack soon, and will then be available in .org sites.
- created a spreadsheet that will help with testing the performance of social media posts
- had a brainstorm about quick wins for the WordPress social media channels to accomplish their

[2022-02-08 15:03] nalininsbs commented on #6
Note this is not a task that has to be done by team reps alone. In the past, other contributors have assisted in finding relevant links, adding / suggesting items for update.

[2022-02-08 15:11] nalininsbs commented on #72
Done as part of migration:
- transferred with repo
- as board not updateable post transfer due to a bug, cards being transferred to Marketing Tasks board

To do:
- issue itself to be transferred as part of group when wiki / documentation is ready
- Anjana's tag is not being recognized. To be added
- update process to be transferred over to this issue to complete the documentation (Larissa to follo

[2022-02-08 15:12] nalininsbs commented on #78
Done as part of migration:
- transferred with repo
- as board not updateable post transfer due to a bug, cards being transferred to Marketing Tasks board
- macro label added

To do:
- issue itself to be transferred as part of group when wiki / documentation is ready
- previous planner can be updated and linked to (to follow-up with Nicholas and Larissa)

[2022-02-08 15:15] nalininsbs commented on #54
Done as part of migration:
- transferred with repo
- as board not updateable post transfer due to a bug, cards being transferred to Marketing Tasks board
- labels added
- Shanta's tag now showing so added

To do:
- issue itself to be transferred as part of group when wiki / documentation is ready
- Anjana's tag is not being recognized. To be added
- process being revised, when complete to be attac

[2022-02-08 15:18] nalininsbs commented on #15
Done as part of migration:
- transferred with repo
- as board not updateable post transfer due to a bug, cards being transferred to Marketing Tasks board
- labels re-added
- Nicholas added

To do:
- issue itself to be transferred as part of group when wiki / documentation is ready
- links to documentation already created by Jill and others to be attached to this. An updated documentation to be pro

[2022-02-08 15:27] nalininsbs commented on #15
**Summary of discussions by team reps on 2022/2/08 and documentation found to date:**
- refer to 'facilitators' rather than 'hosts' for coffee breaks to avoid confusion with 'hosting' meaning in reference to websites, to encourage more than one person to volunteer to facilitate, and so clear that contributors do not have to have access to a paid account to access
- previous guidance documents and

[2022-02-08 15:30] nalininsbs commented on #15
UPDATE FOR CARD ON BOARD
Done as part of migration:
- transferred with repo
- as board not updateable post transfer due to a bug, cards being transferred to Marketing Tasks board
labels added
- new team reps added to card
- update to card to be added to assist with transition to 2022 team reps

To do:
- issue itself to be transferred as part of group when wiki / documentation is ready
- documentat

[2022-02-08 15:31] nalininsbs commented on #36
Important in transition quarters, to include both the outgoing and incoming team reps in the submission.

[2022-02-08 17:58] azhiya commented on #43
Thank you Yoast for organising this event. Glad that so many people were able to contribute.

[2022-02-08 18:26] nalininsbs commented on #75
@vimes1984 @abhansnuk - from your notes it seems there may be a newer version of this video with subtitles on Learn WP. Does it have a transcript that could be added and adapted to the video on YouTube?
Abha your notes mention updating the link on the WCEU contributing area once the Learn WP is published, and deleting the YouTube video if no longer needed.

[2022-02-08 18:27] nalininsbs opened #83 "Instructions for sharing event info from WPDiversity"
@lmurillom and @Nalini can you check what else would be helpful to have on these instructions which Katie has adapted from what I shared on Wednesday in the diversity meeting. Thanks https://docs.google.com/document/d/1kac892kmbP4wYSTeJmnY8ohaI-9_ACl_wdQV5NaZAXI/edit?usp=sharing

[2022-02-08 18:29] nalininsbs commented on #83
Adding in reply from @abhansnuk on this. "The Macro card for WPDiversity has the update on this. It is still in progress and will need to wait until the new GitHub repo links are available, and to find out if there is a new web link shortener to use."

[2022-02-08 18:32] nalininsbs commented on #31
Done:
Added to new WordPress Marketing-Team board.

To do:
Transfer to new repo
Check with Jonathan if has any images which could be used

[2022-02-08 18:39] nalininsbs commented on #26
Transferred to WP repo marketing-team board.

Props to:  @abhansnuk (webcommsat), @yvettesonneveld (yvettesonneveld), Maedah (maedahbatool), Harry Jackson (harryjackson1221), Mike Reid (@mikerbg), @OlaIola (OGlekler), @murillol (lmurillom), @nalininsbs (nalininonstopnewsuk) for contributing to this.

[2022-02-08 18:39] #26 closed

[2022-02-08 18:41] nalininsbs commented on #19
@varlese do you know if this is still a task you want promoting or can this be closed? Thanks

[2022-02-08 18:50] nalininsbs opened #84 "Collaborations WP Release: 5, 12 and 19 January 2022"

[2022-02-08 18:51] nalininsbs commented on #84
@abhansnuk can you add the links for this and close the ticket. Thank you

[2022-02-08 18:53] nalininsbs commented on #60
All completed

[2022-02-08 18:54] nalininsbs commented on #60
Props to @marybaum, @abhansnuk , @murillol , @megphillips91 ,Herb Miller, Anne for contributions on this.

[2022-02-08 18:54] #60 closed

[2022-02-08 18:56] nalininsbs opened #85 "Marketing Team meeting notes"
- Larissa and Meher updating the instructions for notes to add to this when converted to an issue (please label as Macro card, and link to it on the Rolling Tasks readme). This can also be linked from the Marketing Team Handbook
- need to include the Slack link to the start of the meeting on the Marketing blog - aka as the P2
- individual cards will be added for each week's notes

[2022-02-08 18:58] nalininsbs commented on #85
This is one of the cards that has lost its links and attachments in the transfer. Can they be readded please when there is time. Thank you @meherbala and @murillol .

To also include from other doc:
- use times in UTC
- if using IDs for people, use their [WP.org](http://wp.org/) IDs not Slack
- avoid 'here' for links as not good for accessibility and screen readers
- avoid non standard abbreviatio

[2022-02-08 19:00] nalininsbs opened #86 "Marketing Team Reps nominations for 2022"

[2022-02-08 19:02] nalininsbs commented on #24
For a status review check by @DanSoschin

[2022-02-08 19:05] nalininsbs commented on #21
@abhansnuk would you be able to attach the meta ticket to this as it and the document file has not transferred across. Thank you

[2022-02-08 19:06] nalininsbs commented on #70
Props to the people mentioned in this ticket

[2022-02-08 19:07] #70 closed

[2022-02-08 19:08] nalininsbs commented on #65
Props to:  @annezazu , @murillol , @megphillips91 , @abhansnuk , @meherbala , @OlaIola for contributions on this

[2022-02-08 19:09] #65 closed

[2022-02-08 19:12] nalininsbs commented on #67
Props to: @abhansnuk and @meherbala

[2022-02-08 19:12] #67 closed

[2022-02-08 19:14] nalininsbs opened #87 "Agenda: Team meeting 2021/10/27"

[2022-02-08 19:19] nalininsbs commented on #87
Notes: https://make.wordpress.org/marketing/2021/11/01/notes-global-marketing-meeting-27-october-2021/

Props to: @meherbala and @murillol for leading the meeting and the notes.

[2022-02-08 19:19] #87 closed

[2022-02-08 19:21] nalininsbs commented on #51
Props to: @megphillips91 , @meherbala , Herb Miller, @abhansnuk , @nalininsbs , @OlaIola , @vimes1984 , Mary Baum, Mark Smallman for contributing to this.

[2022-02-08 19:25] nalininsbs commented on #57
Props to:; @abhansnuk , @meherbala

[2022-02-08 19:25] #57 closed

[2022-02-08 19:28] nalininsbs commented on #56
Props to: @yashwardhanrana @murillol @abhansnuk

[2022-02-08 19:29] #56 closed

[2022-02-08 19:34] nalininsbs commented on #45
Props to: @varlese , @abhansnuk , @meherbala , @nalininsbs , @murillol , @OlaIola

[2022-02-08 19:38] nalininsbs opened #88 "Agenda team meeting 2021-09-29"

[2022-02-08 19:44] nalininsbs commented on #88
Published https://make.wordpress.org/marketing/2021/09/29/agenda-global-marketing-team-meeting-29-september-2021/

Props: @abhansnuk (webcommsat) for follow-ups and the agenda preparation, to Maya Loncar (@mloncar), @murillol (@lmurillo), Courtney (@courane01), @hellofromtonya (hellofromtonya), Hari Shanker (@harishanker) for submitting materials and discussions, and to @meherbala and @nalininsbs

[2022-02-08 19:44] #88 closed

[2022-02-08 19:44] nalininsbs opened #89 "Agenda team meeting 2021-10-06"

[2022-02-08 19:48] nalininsbs commented on #89
Published link: https://make.wordpress.org/marketing/2021/10/06/agenda-global-marketing-meeting-6-october-2021/

Props to: @abhansnuk , @meherbala , @murillol

[2022-02-08 19:48] #89 closed

[2022-02-08 19:55] nalininsbs commented on #13
Props to: @jillb @murillol @abhansnuk @nalininsbs @meherbala

[2022-02-08 19:55] #13 closed

[2022-02-08 20:02] nalininsbs commented on #39
Agenda: https://make.wordpress.org/marketing/2021/09/15/agenda-global-marketing-meeting-15-september-2021/
Props to @abhansnuk  and @murillol for working on items for the agenda and liaising with other teams. Thanks to @meherbala and @yvettesonneveld for following up on notes and actions.

Notes: https://make.wordpress.org/marketing/2021/09/20/notes-global-marketing-meeting-15-september-2021/
Prop

[2022-02-08 20:03] #39 closed

[2022-02-08 20:05] nalininsbs commented on #38
Agenda: https://make.wordpress.org/marketing/2021/09/08/agenda-global-marketing-meeting-8-september-2021/
Props to: @abhansnuk and @murillol for working on items for the agenda and liaising with other teams. Thanks to @meherbala for following up on notes and actions.

[2022-02-08 20:43] marybaum commented on #50
IF I leave a comment here, will that add me? YOu're absolutely right I should be watching this and making edits.

[2022-02-09 02:35] courtneyr-dev commented on #43
Thanks for organizing @yvettesonneveld and for the attendees that joined us.

[2022-02-09 21:40] #43 closed

[2022-02-11 08:55] nalininsbs commented on #85
Copying over from the document.

For the Title field in the Blog in response to feedback from the team:

**For Notes use:**
Notes: Global Marketing Team, date

**For agenda use:**
Agenda: Global Marketing Team, date

[2022-02-16 15:01] nalininsbs opened #90 "Global Marketing Meeting 2022/02/16"
- preparation
- agenda
- notes

[2022-02-16 15:04] nalininsbs commented on #90
Planning discussion on GitHub https://github.com/WordPress/Marcomms-Internal-Comms/discussions/14

Agenda https://make.wordpress.org/marketing/2022/02/16/agenda-global-marketing-team-16-february-2022/

Script https://docs.google.com/document/d/1AhuFm25ZfZwyywkA4dgzfNVrdNAZ8sETB7u4nKiDGlc/edit#

[2022-02-17 21:32] nalininsbs commented on #77
Copying into this card documentation by @abhansnuk

**Step 1**
Writing the subtitles for this video is an easy first task for a new contributor. If you would like to volunteer to do this, please add a comment to this card. To keep it simple, copy your subtitles directly into this card as a first step.

[Where a video version has been provided in a local language, discuss subtitles with the contrib

[2022-02-18 07:43] Ad-Mk commented on #77
Hi,
I'd like to volunteer for the task.

[2022-02-18 07:48] Ad-Mk commented on #77
Kindly share the video link, as I cannot find it in the above thread. Also, do share the relevant details pertaining to the task.
Thanks!

(Btw I'm new to this space, so still getting used to the whole workflow and procedure. Any help would be deeply appreciated!)

[2022-02-18 15:52] nalininsbs commented on #77
Hello @Ad-Mk and welcome. Thanks for your questions on Slack on getting involved too. We are pleased to be able to help.
The video link is to the original file, so this can sent to you directly. We do not post original video links on GitHub as they can get deleted or edited in error as the cards are accessible to anyone on the internet. Thank you.

[2022-02-18 15:58] nalininsbs commented on #77
@Ad-Mk this is an example of how the subtitles appear https://www.youtube.com/watch?v=VsiQzdmAz8g for this series of videos.

[2022-02-18 16:03] Ad-Mk commented on #77
Just saw the video, and it looks great!
Let me know how you want me to proceed with this and any particular tools, procedure, etc I need to follow.

Thanks!

[2022-02-18 16:06] murillol commented on #54
**Update from Slack Feb 2022**:

@eidolonnight So I understand that the process detailed above in the main card will be paused. We usually post WPDiversity events on the @ wordpressevents Twitter and Facebook, as well as on the Marketing Team LinkedIn page. It's alright if we continue to do that?

[2022-02-18 16:15] nalininsbs commented on #77
I will ask @abhansnuk or Olga to set you up with a link for a google document where you can add subtitles text from playing the video. I am reading the auto captions produced and they are of no use unfortunately.

You can use any video software to edit the file as long as it does not reduce the resolution beyond what can be used. Please create a copy in the folder (link has been sent to you) and m

[2022-02-18 16:30] Ad-Mk commented on #77
Thanks a lot for the welcome. I'll start working on the same.
So the deadline is Monday, right?

[2022-02-23 16:53] nalininsbs commented on #78
This transfer has not been successful and the documentation is missing. Reattempting the transfer.

[2022-02-27 12:27] #38 closed

[2022-02-27 12:29] #45 closed

[2022-02-27 13:24] nalininsbs commented on #86
Adding links so the open task can be closed.

New team reps in place from February 2022 (interim arrangements from January 2022):
Nicholas, Larissa Murillo and Nalini Thakor
Welcoming the new Team Reps post https://make.wordpress.org/marketing/2022/02/17/welcoming-new-marketing-team-reps-for-2022/
Props to @meherbala, @abhansnuk and @yvettesonneveld for writing this welcome and introduction.

Than

[2022-03-21 21:22] nalininsbs commented on #85
Also for the wiki / handbook document incorporate the process for setting up a GitHub discussion for planning the weekly meeting and agenda through to updating the script document.
I will add the bullet points in this comment.

[2022-03-22 09:59] nalininsbs commented on #85
Including outcome of the test on whether one GitHub task card could serve as both the card for all things related to the meeting and the discussion. This is not possible. The card will need to be linked to the discussion. We can try for next week to have all the discussion on the card itself. If this works, then only one item has to be opened per meeting. Thank you to @abhansnuk for providing inst

[2022-03-29 00:25] abhansnuk commented on #54
Is this card still live @murillol before I transfer it to the main board? I think I have seen ongoing updates on LinkedIn etc. Thanks

[2022-03-29 00:27] abhansnuk commented on #75
@azhiya do you have an updated version of this now on Learn WordPress? Thanks

[2022-03-29 00:29] abhansnuk commented on #14
Linking this up with progress on this with training and documentation.
cc @courane01, @vimes1984

[2022-03-29 00:31] abhansnuk commented on #31
@murillol transferring this to the new repo for you.

[2022-03-29 00:34] murillol commented on #54
I don't think so @abhansnuk, we can close it for now.

[2022-04-09 08:06] nalininsbs commented on #52
@eidolonnight are any of your marketing colleagues working on this or liaising with the team? Could you mention them on the ticket. Is there anything still needed on this ticket or can it be closed for now? Thank you.

[2022-04-19 11:33] abhansnuk commented on #77
Published in newsletter https://make.wordpress.org/polyglots/2022/03/22/polyglots-monthly-newsletter-march-2022/

[WordPress Polyglot Gautam Navada shares the benefit of translating software into a local language.](https://www.youtube.com/watch?v=cx5CU5vrAAc)

Could you make a video or share your story on why you translate WordPress? Contact the [#marketing](https://wordpress.slack.com/archives/C0

[2022-04-19 11:33] #77 closed

[2022-05-25 17:30] abhansnuk commented on #48
This will be looked at during WCEU contributor day too as some of the nominees will be present. Some of them do not have images which is why the images and videos have not been able to be made. Meher had identified some follow-ups for WCEU too. @majadidit had offered to help with this too and offered space on GoDaddy area if needed.

[2022-05-25 17:39] abhansnuk commented on #76
This is just pending the link to the subtitles for the Indonesian version of the video, and needs input from Devin.

[2022-05-25 21:56] meherbala commented on #76
@abhansnuk is there anything I need to do in this task ?

[2022-06-23 18:25] nalininsbs commented on #76
Could you link with Devin for Indonesian subtitles @meherbala ? Can she assist adding this. Then it can be added to WPTD website with the others now captioned? Thank you

[2022-07-26 13:08] nalininsbs commented on #48
Copying over update provided on this in meetings and the drive:
- call for volunteers with video editing and photo editing made in Polyglots newsletter July 2022 and Marketing meeting July 2022. Note contributors assisting with this need access to software that does not leave a commercial watermark on the video or photos. This can also distort the video or photo from an accessibility perspective.

[2022-07-27 09:51] nalininsbs commented on #6
Created a number of new cards for meetings in August. Updated the descriptor and checklist information for cards.

All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dat

[2022-07-27 09:54] nalininsbs commented on #6
Shall we add names to who is facilitating the next coffee break on the weekly agenda cards to acknowledge them and volunteering for this @murillol and @eidolonnight ? The next few coffee breaks rota are saved on the coffee break card. I moved this to being a macro card.

[2022-07-29 12:43] abhansnuk commented on #52
Comment by @rmartinezduque on Slack. No one currently assigned from Nicholas' team. For now this ticket can be closed. For future promotion requests from the performance team (part of Core), this can be reopened or a new ticket added.

[2022-07-29 12:43] #52 closed

[2022-08-08 20:31] #86 closed

[2022-08-16 07:25] nalininsbs commented on #24
To check on status at [meeting on August 17, 2022](https://github.com/WordPress/Marketing-Team/issues/97).

[2022-08-16 07:29] nalininsbs commented on #18
To highlight at the meeting on August 17, 2022 if this is something which could be done at the WCUS contributor day.

An update on Five for the Future marketing in general would be useful to have as a link or update on the Marketing Team GitHub. Including @DanSoschin as believe he is leading on this. Thank you Dan in advance.

[2022-08-16 22:19] abhansnuk commented on #18
For reference: [Updates to the Five For the Future program and Proposed Improvements]([url](
https://make.wordpress.org/project/2022/07/28/updates-on-the-five-for-the-future-program-and-proposed-improvements/)) - post by Angela Jin, July 28, 2022

[2022-09-07 14:28] nalininsbs commented on #48
Do we have a link and schedule for WordPress Translation Day 2022 promotions? This will allow us to move this ticket forward. If there is not going to be a global event this year, then the schedule can be adjusted in line with the polyglot newsletter.

Added to the GitHub ticket check-ins for September 7. 2022.

[2022-09-21 12:49] eidolonnight commented on #18
We collected a couple drafts during WCUS. They are [available in this Google doc](https://docs.google.com/document/d/1-c4ngI8YaLzeUr4whR-oFPDYgTzdDSUXKxNNWJjB9CA/edit) and will just need some final editing, formatting, and packaging.

@murillol do we have a spot to share these once they are done?

[2022-09-21 13:39] murillol commented on #18
Do you mean on the P2? I understand everything was just kept on Drive @eidolonnight

[2022-11-02 18:57] nalininsbs commented on #18
To include at November 9, 2022 meeting.

[2022-11-29 20:52] abhansnuk commented on #48
This was not needed for the lower key WPTD in 2022 due to resources and volunteers. More on this and wider short pieces on polyglots will be followed up as part of polyglot outreach work and newsletter, and discussion in marketing channel with polyglots. It will be refocused on in early 2023.

This task will then be updated/ merged into a new task. Putting this back into to do column for now.

[2022-11-29 20:56] abhansnuk commented on #48
There have been some new volunteers in marketing and some new people in polyglots who have also joined marketing who are interested in this.